# dataset
data/
dataset/
*.jpg
*.png
*.mp4

# model weights
checkpoints/
*.pth
*.pt

# python cache
__pycache__/
*.pyc

# notebook cache
.ipynb_checkpoints/

# logs
training_logs/

# vscode
.vscode/

# env
.env